body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #1e75d3;
    color: white;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 25px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 40px;
}

ul {
    list-style-type: decimal;
    text-align: left;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
}

li {
    margin: 8px 0;
}
footer {

    color: white;
    padding: 15px 0;
    margin-top: 40px;
}