body {
    font-family: Arial, sans-serif;
    background-color: #f4f7ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e75d3;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #333;
    padding: 25px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

nav a:hover {
    color: #007bff;
}

main {
    text-align: center;
    padding: 40px;
}

h2 {
    color: #0024f2;
    font-size: 28px;
    margin-top: 20px;
}

#mensaje {
    margin-top: 20px;
    font-size: 20px;
    color: #000;
    background: none;
    border: none;
    padding: 0;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
