
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6fb;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: #4488d1;
    color: white;
    padding: 30px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 28px;
}


nav {
    margin-top: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;
    gap: 15px;           
}

nav a {
    display: inline-block;
    background-color: #4488d1;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
}


nav a:hover {
    background-color: #4488d1;
    transform: scale(1.05);
}


footer {
    background-color:#4488d1;
    color: white;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
